body {
    margin-bottom: 60px;
}

header {
    background-color: #D9D9D9;
}

#headshot {
    margin-bottom: 20px;
}

h4 {
    text-decoration: underline;
}

.card {
    width: auto;
}

#gitcard {
    margin-top: 10px;
}

#resume-download {
    margin-top: 25px;
}

.img-thumbnail {
    width: auto;
}

#submit-button {
    margin-bottom: 15px;
}

#email-address {
    margin-top: 15px;
}

.hidden {
    visibility: hidden;
}